<ehcache xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="ehcache.xsd"
         updateCheck="true"
         monitoring="autodetect"
         dynamicConfig="true">


    <cache name="EmployeeCache"
           maxEntriesLocalHeap="10000"
           eternal="false"
           timeToIdleSeconds="300" timeToLiveSeconds="600"
           memoryStoreEvictionPolicy="LFU"
           transactionalMode="off">
        <!-- Specify decorators to be applied on this cache-->
        <cacheDecoratorFactory class="com.example.spring.cahce.ehcache.decorator.BlockingCacheCacheDecorator"/>
        <persistence strategy="localTempSwap" />
    </cache>

    <cache name="configuration"
           maxEntriesLocalHeap="10000"
           eternal="true"
           transactionalMode="off">
        <!-- Specify decorators to be applied on this cache-->
        <cacheDecoratorFactory class="com.example.spring.cahce.ehcache.decorator.BlockingCacheCacheDecorator"/>
        <persistence strategy="localTempSwap" />
    </cache>


</ehcache>